## NPM garbage
node_modules
*.log

## Leftovers of a pre-Bun yarn install (safe to delete locally)
/.pnp.*
/.yarn

## Build artifacts
/public/**/*
!/public/*.html
!/public/ntos-error.min.css
!/public/helpers.min.js
